In [4]:
# create a list of fruits and print all the fruits in that lists
fruits = ["Apple" ,"Mango" ,"Kiwi"]
for f in fruits:
  print(f)

Apple
Mango
Kiwi

In [8]:
# Take user input for number and print its multiplication table
num = int(input("Enter the number:"))
for i in range(1,11) :
  print (num,"x",i,"=",i*num)

Enter the number: 6

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [1]:
#Define a list  of number and using for loop add all the numbers of list
num = (2,5,8,19,98)
add = 0
for j in  num:
    add += j
print("Addition is:",add)

Addition is: 132

In [2]:
for char in "Python":
 print (char)

P
y
t
h
o
n

In [22]:
for range in "12345" :
  print(range)

1
2
3
4
5

In [1]:
for i in range(1,21):
   if i % 2 == 0:
     print(i)

2
4
6
8
10
12
14
16
18
20

In [11]:
# Print square of numbers from 1 to 10
for i in range( 1,11):
 print(i*i)

1
4
9
16
25
36
49
64
81
100

In [16]:
# take user input  of word and print each character in the word
user = input("Enter a Word:")
for char in user:
    print(char)

Enter a Word Python

P
y
t
h
o
n

In [25]:
# take a user input as string and count the number of vowels in the string
user = input("Enter the Word:")
vowels = "aeiouAEIOU"
count = 0
for char in user:
    if char in vowels:
        count +=1
print("Number of vowels in the word is",count)

Enter the Word: Hello World

Number of vowels in the word is 3

In [32]:
i=1
while i<=5:
 print(i)
 i += 1

1
2
3
4
5

In [34]:
# Add numbers until total is 10 or more
total = 0
num = 1
while total <= 10:
    total += num
    num += 1
print("Total is", total)

Total is 15

In [35]:
# print even numbers from 2 to 10 using while loop
i = 2
while i <= 10:
    print (i)
    i +=2

2
4
6
8
10

In [36]:
# countdown  from 20 to 1
i = 20
while i >= 1:
    print(i)
    i -= 1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [46]:
# Print square of numbers from 1 to 5 
i=1
while i <=5: 
  print(i*i)
  i += 1

1
4
9
16
25

In [4]:
# Multiplication table using while loop
num = int(input("Enter the number:"))
i = 1
while  i <= 10 :
  print(num,"x",i*num)   
  i += 1

Enter the number: 7

7 x 7
7 x 14
7 x 21
7 x 28
7 x 35
7 x 42
7 x 49
7 x 56
7 x 63
7 x 70

In [7]:
num = int(input("Enter the number:"))
i = 2
while 1 >=20 :
    print(num,i%num,"%")
    i += 2

Enter the number: 2

In [13]:
# Add  numbers from 1 to 50 and print the total  u
i = 1
total = 0
while i<= 50:
    total += i
    i += 1
print("Addition of 1 to 50 is:", total)

Addition of 1 to 50 is: 1275

In [17]:
# Factorial
num = int(input("Enter the number:"))
fact = 1
while num >=1 :
 fact *= num
 num -= 1
print("Factorial is:",fact)

Enter the number: 2

Factorial is: 2

In [1]:
# Print the first 5 multiples of 3
# Print the cube of all numbers from 1 to 10
# keep taking input until the user entrs a number >100
# Print every 3rd number from 1 to 20
# Print square of even numbers from 1 to 10

# loop control statements
1. break- exits the loop
2. continue- skips the iteration
3. else- execute something after loop ends

In [8]:
#break at 8 loop ends
num = [2,5,7,8,10]
for n in num:
    if n == 8:
        break
    print(n)

2
5
7

In [12]:
#break at 7 loop ends
for n in range(1,10) :
  if n == 7:
    break
  print(n)

1
2
3
4
5
6

In [13]:
#skips the 7th iteration and continues the loop
for n in range(1,10):
    if n==7:
        continue
    print(n)

1
2
3
4
5
6
8
9

In [7]:
# break if no is not prime else print the ans
num = int(input("Enter the number:"))
for i in range(2,num):
    if num%1 ==0:
        print("The Entered number is not a prime number")
        break
else:
     print("The Entered number is prime")

Enter the number: 4

The Entered number is not a prime number

In [3]:
#
n=1
while n <= 10:
    if n == 9:
     print("found 9")
     break
    n+=1
else:
 print("9 isn't in the given range")

found 9

In [11]:
# 

text = "Python is fun"
 print(text[0])
 print(text[-6])
 print(text[0:13]) #slicing
 print(text[::-1])# reversing string

P
i
Python is fun
nuf si nohtyP

In [13]:
# length of a string
# len() - returns the number of characters in a string
name = "Pooja"
print(len(name))
# count() - returns the occurence count of specified characters
print(name.count("o"))

5
2

In [4]:
# changing case 

# upper case
#lower case
#title
#capitalize
#swapcase

word = "python"
w2 ="DATA"
text = "python is fun"
print(word.upper())
print(w2.lower())
print(text.title()) #each words 1st letter is capital
print(text.capitalize()) # only 1st word 1st letter is capital
print(w2.swapcase())

PYTHON
data
Python Is Fun
Python is fun
data

In [1]:
#find and replace and index
 #1. find()
 #2. index()
 #3. replace()

text = "I Love java"

print(text.find("java"))
print(text.find("Python")) #if word not present then it returns -1 value
print(text.index("java")) # if word not present then it returns value error 
print(text.replace("java","Python"))

7
-1
7
I Love Python

In [22]:
# split and join
# 1. split() - used to break a string into a list based on seperator
# 2. join() - used to join the words into single string

drinks = "tea,coffee,milk"
print(drinks.split(","))

drinks1 = ['tea','coffee','milk']
print("|".join(drinks1))

['tea,coffee,milk']
tea|coffee|milk

In [23]:
# string checking
# isalpha() - return true if the string only contains alphabets
# isalnum() - returns true if the string contains alphabets , numbers , alphanumeric values
# isdigit() - returns true if the string contains only numbers

a = "string123"
b = "string"
c = "12345"

print(a.isalpha())
print(b.isalpha())
print(a.isalnum())
print(b.isalnum())
print(a.isdigit())
print(c.isdigit())

False
True
True
True
False
True

In [4]:
# startswith and endswith
# 1. startswith() - returns true if the string starts with the specified characters or word
# 2. endswith() - returns true if the string endswith the specified characters or word

text = "Python is Fun"
print(text.startswith("Python"))
print(text.startswith("p"))
print(text.endswith("Fun"))
print(text.endswith("F"))

True
False
True
False

In [7]:
# Removing whitespaces
# strip() - removes space from both the ends
# lstrip() - removes spacs from left side only
# rstrip() - removes space from right side only

text = "  Python is Fun  "
print(text)
print(text.strip())
print(text.lstrip())
print(text.rstrip())

  Python is Fun
Python is Fun
Python is Fun
  Python is Fun

In [9]:
# string formatting
# f-strings - in print statement there's no need of putting "" to each word  

name = input("Enter the name:")
age = 24

print(f"The users name is {name} and age is {age}")

Enter the name: Pooja

The users name is Pooja and age is 24

In [ ]:
# take a string as an user input and check it it's palindrome or not

word = input("Enter the word")

if word == word[::-1]: # checks if the word is same even when reversed
    print("The entered string is palindrome")
else:
    print("The entered string is not palindrome")

In [10]:
# sorted() - returns sorted list


a = "Python"
print(sorted(a))

b = ["z","p","r","t","w"]
print(sorted(b))

['P', 'h', 'n', 'o', 't', 'y']
['p', 'r', 't', 'w', 'z']

In [5]:
# take a string as user input and print the number of characters in the string

word = input("Enter a word")
print("Number of characters in the word are:",len(word))

Enter a word pooja

Number of characters in the word are: 5

In [ ]:
#1.Take user input and find length of the string 
#2.Take user input and convert the string to lowercase and uppercase
#3.Take user input for 2 strings and concatenate the strings
#4.Take name as an input and print the greeting
#5.Take a string and check if the string starts with or ends with a specific 
#6.Take a string as user input and print first 4 and last 4 characters of string

In [6]:
#1.Take user input and find length of the string 

word = input("Enter a word")
print("Number of characters in the word are:",len(word))

Enter a word Python

Number of characters in the word are: 6

In [9]:

word = input("Enter the word:")
word = "PYTHON"
w2= "data"
print(word.lower())
print(w2.upper())

Enter the word: python

python
DATA

In [14]:
#3.Take user input for 2 strings and concatenate the strings
string1 = input("Enter the first string:")
string2 = input("Enter the second string:")
print("concatenation of two strings is",string1+" "+string2)

Enter the first string: abc
Enter the second string: def

concatenation of two strings is abc def

In [12]:
#4.Take name as an input and print the greeting
name = input("enter your name:")
print("hello", name,"Good Morning")

enter your name: Pooja

hello Pooja Good Morning

In [17]:
#5.Take a string and check if the string starts with or ends with a specific word
word = "Learning the python"
print(word.startswith("Learning"))
print(word.endswith("n"))

True
True

In [20]:
#6.Take a string as user input and print first 4 and last 4 characters of string
string1 = input("Enter the string:")
print(string1[0:3])
print(string1[-4:])

Enter the string: Pooja Bhilare

Poo
lare

In [40]:
# list methods and functions
# list - ordered collection of values / items of any data type. list is mutable i.e it can be changed anytime

list1 = [12,13,14,15]

#1.append() - adds an item to the last

list1.append(16)
print(list1)

#2.extend() - adds mutiple items or even list or tuple

list1.extend((17,18,19,20)) # list extends tuple
list1.extend((21,22,23)) #list extends list
print(list1)

#3. insert(index,value) - adds the item at the specified index

list1.insert(0,11)
print(list1)

#4. remove() - removes the specified item

list1.remove(23)
print(list1)

list1.remove(22)
print(list1)

#5.pop() - removes the item from specified index

list1.pop() #removes last element if the index is not specified
print(list1)

list1.pop(1)
print(list1)

#6. index() - returns the index of the specified value

list1.index(15)

#7. copy() - creates the copy of the list

list2 = list1.copy()
print(list2)

#8. clear() - returns the empty list

list2.clear()
print(list2)

#9. sort() - sort the items in ascending order

#list1.sort(reverse = True)
print(list1)

#10. count() - counts the number of occurence of the specified value

list1.count(20)

#11.reverse() - change the order of the list. list starts in reverse order(last item first)

print(list1)
list1.reverse()
print(list1)

print(list1.index(20))

#list functions
#12. max() - returns the element/item of maximum value
#min() returns the element/item of minimum value 


print(max(list1))
print(min(list1))

#13. len()  - returns the length of the list

print(len(list1))

#14.sum() - returns the total(sum) of the item in the list

print(sum(list1))

#15. sorted() - sort the items in the list

print(sorted(list1,reverse = True))

[12, 13, 14, 15, 16]
[12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[11, 13, 14, 15, 16, 17, 18, 19, 20]
[11, 13, 14, 15, 16, 17, 18, 19, 20]
[]
[11, 13, 14, 15, 16, 17, 18, 19, 20]
[11, 13, 14, 15, 16, 17, 18, 19, 20]
[20, 19, 18, 17, 16, 15, 14, 13, 11]
0
20
11
9
143
[20, 19, 18, 17, 16, 15, 14, 13, 11]

In [48]:
# tuple - Tuple is an ordered collection of items of any data type and tuple is immutable

t=(12, 13, 14, 15, 12)
1.# count - counts the number of occurence of the specified value

print(t.count(12))

#index() - returns the index value of the specified item

print(t.index(15))

#tuple functions

#len()  - returns the length of the tuple(number of items in tuple)

print(len(t))

#max() - returns the maximum value in tuple  
#min() - returns the minimum value in tuple

print(max(t))
print(min(t))

#sum() - returns the total(sum) of all the items in tuple

print(sum(t))

#tuple() - creates/converts a tuple of the given data type

t1 = "hello"
print(tuple(t1))

#packing in tuple - assigning multiple values to tuple

a = 1,2,3,4
print(a)

#unpacking in tuple - assigning tuple values to multiple variables 

b,c,d,e = a
print(b)
print(c)
print(d)
print(e)

2
3
5
15
12
66
('h', 'e', 'l', 'l', 'o')
(1, 2, 3, 4)
1
2
3
4

In [81]:
# set methods and functions

#set - set is unordered collection of unique item of any datatype

s = {21, 22, 23, 24}
print(s)

#add(item) - adds a single item to the set

s.add(25)
print(s)

#update(value/iterables) - adds multiple items to the set(can be a list , tuple, set)

s.update([26,27,28,29,30])
print(s)

#remove() - removes the specified item

s.remove(21)
print(s)

#discard() - removes the specified item , but does not raise any error if the item isn't in the set

s.discard(22)
s.discard(20)
print(s)

#pop() - removes any random element

s.pop()
print(s)

#clear()  - empties the set , return empty set

s.clear()
print(s)

#Mathematical operations on set

#1. union() - combines elements/items of the sets

s1 = {1,2}
s2 = {3,4}
print(s2.union(s1))
print(s2)
print(s1)

#2. intersection() - returns common items/elements of two set

s1 = {1,2,3,4}
s2 = {2,4,6,8}
print(s1.intersection(s2))

#3. difference() - returns the uncommon elements/items in two sets

print(s2.difference(s1))
print(s1.difference(s2))

#4. symmetric difference() - returns uncommon elements/items which isn't present in another set

print(s2.symmetric_difference(s1))

#5. issubset()  - checks if all items of set1 are present in set2

s1 = {1,2,3}
s2 = {1,2,3,4,5,6}
print(s1.issubset(s2))

#6. issuperset() - checks if both the sets do not have any common element/items

print(s2.issuperset(s1))
print(s1.issuperset(s2))

#7. isdisjoint() - checks if both the sets do not have any common element/items

s1 = {1,2,3}
s2 = {4,5,6}
print(s2.isdisjoint(s1))

# set functions 

#len()

print(len(s1))

# max()
#min()
print(max(s1))
print(min(s1))

#sum()

print(sum(s2))

#sorted()
print(sorted(s1))

{24, 21, 22, 23}
{21, 22, 23, 24, 25}
{21, 22, 23, 24, 25, 26, 27, 28, 29, 30}
{22, 23, 24, 25, 26, 27, 28, 29, 30}
{23, 24, 25, 26, 27, 28, 29, 30}
{24, 25, 26, 27, 28, 29, 30}
set()
{1, 2, 3, 4}
{3, 4}
{1, 2}
{2, 4}
{8, 6}
{1, 3}
{1, 3, 6, 8}
True
True
False
True
3
3
1
15
[1, 2, 3]

In [13]:
# dictionary methods and functions

#dictionary - collection of key and value pair , keys should be unique, values can be of any types or even repeated 

info = {"name":"abc", "age":"25" ,"city":"pune"}
print(info)

#1.get (key, default)  - returns the values of the specified key, incase if key isn't added returns the default value 
#if default value isn't mentioned it returns null

print(info.get("name"))
print(info.get("country","india"))
print(info.get("state"))

#2. keys() - returns all keys in the dictionary

print(info.keys())

#3. values() - returns all values in the dictionary

print(info.values())

#4.items () - returns all the items ( key :value pairs) in the dictionary

print(info.items())

#5. update() - add key and value pairs if not existing, if existing updates the pair
info.update({"state":"Maharashtra", "name":"def"})
print(info)


#6. pop(key) - removes the key and returns the value

print(info.pop("age"))
print(info)

#7.popitem() - removes the last key and value pair

print(info.popitem())
print(info)

#8 .setdefault (key , default) - sets the key value if key doesn't exist, adds the key and value if it isn't already present in the dictionary
# if the key exists , return the original value

print(info.setdefault("city", "Mumbai"))
print(info.setdefault("country","India"))
print(info)

#9. copy() - create a copy of  the dictionary

info1 = info.copy()
print(info1)

#10. clear() - clears the content of the dictionary

info1.clear()
print(info1)

# dictionary functions

#1. len() - returns the total number of key value pairs

print(len(info))

#2. str() - returns the string representation of the dictionary

print(str(info))

#3. type() - returns the datatype - dict()

print(type(info))


#looping through dictionaries

#key only

for key in info:
    print(key)

#key and values

for key , value in info.items():
  print(key, value)
for value in info.items():
    print(value)

{'name': 'abc', 'age': '25', 'city': 'pune'}
abc
india
None
dict_keys(['name', 'age', 'city'])
dict_values(['abc', '25', 'pune'])
dict_items([('name', 'abc'), ('age', '25'), ('city', 'pune')])
{'name': 'def', 'age': '25', 'city': 'pune', 'state': 'Maharashtra'}
25
{'name': 'def', 'city': 'pune', 'state': 'Maharashtra'}
('state', 'Maharashtra')
{'name': 'def', 'city': 'pune'}
pune
India
{'name': 'def', 'city': 'pune', 'country': 'India'}
{'name': 'def', 'city': 'pune', 'country': 'India'}
{}
3
{'name': 'def', 'city': 'pune', 'country': 'India'}
<class 'dict'>
name
city
country
name def
city pune
country India
('name', 'def')
('city', 'pune')
('country', 'India')

In [33]:
# Functions - reusable block of code to perform a specific task
#1. user defined functions complusory use parameters
#2. Built in functions

""" Functions in python have  to be declared using def keyword, the components of functions are function_name,parameters,return value,arguments.
parameters are placeholders(they do not contain actual values), whereas arguments contain actual values and are passed during function call.
To execute a functions you nedd to call the function using function name along with round brackets.if there are any arguments we pass it inside the function call"""

def add(x,y): #x,y parameters
    return(x+y)
print (add(2,3))  #2,3 - arguments-actual values

def greet(): # function declaration
  print("Hello welcome to python") #function block of code

greet() # function calling

def multiply(x,y):
   return(x*y)
multiply(2,3)

5
Hello welcome to python

6

In [49]:
def work(a,b) :
    return a+b,a-b
print(work(2,3))

(5, -1)

In [56]:
 # built in functions

l1 = [2,4,6,8]
#1. map() - map(functions,iterable) - applies the specified function to each item in an iterables

def square(x):
    return x**2

res = map(square,l1)
print(list(res))

[4, 16, 36, 64]

In [65]:
#2. filter -  filter(function ,iterables) - filters out the iterables based on the specified condition

l2=[2,3,4,5,6,7,8,9]

def even(x):
  if x%2 == 0:
    return x

res = filter(even,l2)
print(list(res))

[2, 4, 6, 8]

In [71]:
#3. reduce() - reduce(function,iterables) - returns a single value based on specified condition
#**Mandatory - in order to use reduce import it from functools library

from functools import reduce
l2 = [2,3,4,7,8,9]
def add(x,y):
  return x+y
    
res1 = reduce(add,l2)
print(res1)

33

In [74]:
#4. lambda -  A small anonymous function can have more than 1 expression but will always have an argument.
#lamba expression: argument

add = lambda x,y : x+y
add(7,8)

15

56

In [75]:
num = [10,2,3,4,5,6,7]
square = list(map(lambda x : x**2 , num))
print(square)

[100, 4, 9, 16, 25, 36, 49]

In [77]:
#file handling - used to create,read,write and update the files

#opem ()  - used to work files

#modes ()  - 

# 'r' - reads the file (default file  mode)
# 'w' - writes the file(will overwritw thw file if used on a file with any content)
# 'a' - append mode . adds the content without overwriting
# 'x' - create mode - creates the file raises an error if the file already exists

f = open("abc.txt","w")
f.write("Hello world")
f.write("Hello abc")
f.close()

f= open("abc.txt", "r")
content = f.read()
print(content)
f.close

Hello worldHello abc

In [82]:
# write mode

f = open("abc.txt","w")
f.write("Hello python")
f.write("Hello data science")
f.close()



# read mode

f = open("abc.txt", "r")
content = f.read()
print(content)
f.close()

Hello pythonHello data science

In [85]:
# append mode

f = open("abc.txt","a")
f.write("Hello world")
f.write("Hello Data Analysis")
f.close()

In [84]:
# write mode

f = open("abc.txt","w")
f.write("Hello python")
f.write("Hello data science")
f.close()

In [86]:
f = open("abc.txt", "r")
content = f.read()
print(content)
f.close()

Hello pythonHello data scienceHello worldHello Data Analysis

In [ ]:
f = open("def.txt","x") #creating a text file using create mode

In [87]:
f = open("def.txt","w")
f.write("\nHello Rutuja")
f.write("\nHello Pooja")
f.write("\nHello shreya")
f.close()

In [89]:
f = open("def.txt", "r")
content = f.read()
print(content)
f.close()

Hello Rutuja
Hello Pooja
Hello shreya

In [92]:
f = open("def.txt", "r")
for line in f:
   print(line)
f.close()

Hello Rutuja

Hello Pooja

Hello shreya

In [93]:
# readline and readlines()

f = open("def.txt", "r")
print(f.readline()) # will read only one line
print(f.readlines()) # will read all the lines
f.close()

['Hello Rutuja\n', 'Hello Pooja\n', 'Hello shreya']

In [94]:
# opening files using with statement

with open("def.txt","r") as f:
    content = f.read()
    print(content)

Hello Rutuja
Hello Pooja
Hello shreya